*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loader{
    width: 150px;
    height: 150px;
    background-color: rgb(255, 255, 255);
    border:7px solid #dddd;
    border-radius: 50%;
    border-top:8px  solid black;
    animation: rotate 1.5s infinite;
}
@keyframes rotate{
    100%{
        rotate: 360deg;
    }
}